TACC_TENANT=https://tacc.tapis.io
TEST_TENANT=https://dev.develop.tapis.io
TEST_USER=testuser2
TEST_PASSWORD=testuser2
TEST_SYSTEM_ID=tapisv3-exec
TEST_APP=SleepSeconds
TEST_APP_VERSION=0.0.1
TEST_JOB_NAME=tapis-ui-e2e-test-job
TEST_PROJECT_ID=E2E_TEST_PROJECT_6
TEST_SITE_ID=E2E_TEST_SITE_6
TEST_INSTRUMENT_ID=E2E_TEST_INSTRUMENT_6
TEST_WORKFLOWS_GROUP_ID=e2e
TEST_WORKLFOWS_ID_PREFIX=e2e